@font-face {
  font-family: "alegreya-regular";
  src: url("alegreya-regular.ttf");
}

html {
  overflow-y: scroll;
}

#app {
  width: 100%;
}

#body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #201c30;
  color: #141414;
  display: flex;
  justify-content: center;
  background-image: url('images/background_home.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100px;
}

.container {
  min-height: 800px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer {
  padding-top: 8px;
  text-align: center;
  font-size: 10px;
  background-color: #dddddd;
  color: #000000;
  padding-bottom: 12px;
}

.navContainer {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px;
}

.navContainerInner {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1363px;
}

.navTitle {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navTitle a {
  all: unset;
  cursor: pointer;
  margin: 0px 5px;
  font-family: 'alegreya-regular';
}

.navTitle a:hover {
  text-decoration: none;
}

.navLinks {
  height: 30px;
  font-weight: 600;
}

.navLinks a {
  color: #888888;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}

.navLinks a.active {
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.logo {
  height: 90px;
  float: left;
  margin-top: -12px;
}

.pageContainerTop {
  background-color: #00000070;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageContainerMiddle {
  background-color: #B4AC89;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageContainerMiddle a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  transition: .2s;
}

.pageContainerMiddle a:hover {
  background-color: #0000004f;
  padding: 10px;
  margin: -10px;
}

.infoBorder {
  border-bottom-width: 2px;
  border-color: #B4AC89;
  border-bottom-style: solid;
  padding-bottom: 5px;
  min-width: 200px;
}

.pageContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 172px);
}

.pageContainerInner {
  padding: 10px 10px;
  min-height: 200px;
  width: 100%;
  max-width: 1363px;
}

h1 {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #AAAAAA;
}

h2 {
  margin-left: 10px;
  font-size: 20px;
}

p {
  margin-left: 10px;
}

a {
  word-wrap: break-word;
}

.socialIcon {
  height: 20px;
  width: 20px;
  padding: 0px 10px;
}

.navSocial {
  float: right;
  margin-top: 5px;
}

.title {
  font-size: 36px;
}

#subtitle {
  font-size: 22px;
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#statsTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 42px;
  font-size: 14px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

tbody tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.diversificationCharts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.teamBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 50px;
}

.teamBlocksInner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.teamBlocksInner img {
  height: 150px;
  width: 150px;
  background-color: #AAAAAA;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.teamBlocksInner h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

.investDiv {
  margin-top: 80px;
  margin-left: 32px;
}

.investButton {
  background-color: rgb(16, 46, 80);
  color: #ffffff;
  text-decoration: none;
  padding: 12px 35px;
  font-size: 17px;
  transition: .2s;
  font-weight: 600
}

.investButton:hover {
  text-decoration: none;
  background-color: rgb(37, 65, 95);
}

.fundFactsBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.fundFactsBlocks table {
  margin: 20px;
}

.fundFactsBlocks tr {
  line-height: unset;
}

.howItWorksBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.howItWorksBlocksNumber {
  margin-top: -50px;
  font-size: 50px;
  margin-bottom: -15px;
  font-weight: 800;
  color: #B4AC89;
  margin-left: -5px;
}

.howItWorksBlocks div {
  width: 20%;
  background-color: #ffffff;
  height: 200px;
  color: #000000;
  margin: 10px;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.howItWorksBlocksTitle {
  font-weight: 600;
  font-size: 20px;
}

table td {
  padding: 5px 10px;
  line-height: 1.25;
}

.asOfDate {
  font-size: 16px;
}

#title {
  font-size: 30px;
  text-align: left;
}

#subtitle {
  font-size: 18px;
  text-align: left;
}

.mainTitle {
  font-size: 50px;
  font-weight: 600;
  margin-top: -80px;
  width: 600px;
}

.mainSubtitle {
  width: 600px;
  margin-top: 10px;
}

.award {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.awardTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 300px;
}
.awardTitle {
  font-size: 22px;
  font-weight: 700;
}
.awardSubtitle {
  font-size: 20px;
}
.awardIcon {
  width: 100px;
  height: 100px;
  background-color: #6f8db1;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

@media only screen and (max-width: 850px) {

  .mainTitle {
    font-size: 30px;
    margin-top: -100px;
    width: 100%;
    text-align: center;
  }

  .mainSubtitle {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 0px;
    min-height: calc(100vh - 50px);
  }

  .navContainer {
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .navContainerInner {
    flex-direction: column;
  }

  .navTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 35px;
    margin-top: 4px;
  }

  #title {
    font-size: 18px;
    text-align: left;
  }

  #subtitle {
    font-size: 14px;
    text-align: left;
  }

  .pageContainerMiddle {
    display: none;
  }

  #stats {
    flex-direction: row;
    font-size: 14px;
  }

  #statsTitle {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .statsContainer {
    flex-direction: column;
    height: 125px;
    align-items: center;
  }

  .infoBorder {
    width: 80%;
    min-width: unset;
  }

  .navLinks {
    margin-top: 5px;
    font-size: 14px;
  }

  .navLinks a {
    padding: 8px;
  }

  .pageContainer {
    padding: 0px 20px;
    min-height: calc(100vh - 142px);
  }

  a:hover {
    text-decoration: none !important;
  }

  .footer {
    margin: 0px;
    width: 100%;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .diversificationCharts {
    flex-direction: column;
  }

  .diversificationCharts div {
    width: 100% !important;
  }

  .teamBlocks {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    margin-top: 25px;
  }

  .teamBlocksInner {
    margin-bottom: 25px;
  }

  .investDiv {
    margin: 0px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .fundFactsBlocks {
    flex-direction: column;
  }

  .fundFactsBlocks table {
    margin: 0px;
    margin-bottom: 30px;
    width: 100% !important;
  }

  .fundFactsBlocks tr {
    line-height: 1.5;
  }

  .howItWorksBlocks {
    flex-direction: column;
  }

  .howItWorksBlocks div {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
  }

  .howItWorksBlocks p {
    margin: 30px;
  }

  .howItWorksBlocksNumber {
    margin-top: -30px !important;
    margin-bottom: -30px !important;
  }

  .asOfDate {
    display: block;
  }

  .investDiv {
    margin-top:30px;
  }
}